/*---------------------------QUEM SOMOS---------------------------------*/

.quemSomos{
  margin-top: 180px;
  text-align: center;
  color: black;
  border-radius: 12px;
  overflow: auto;
}

h1{
    margin: 360px;
    text-align: center;
    border-bottom: 6px solid #57c0fd;
    padding: 20px;
}

.imagemCentro{
  margin-bottom: 20px;
  border-radius: 8px;
  width: 550px;
  height: 400px;
}

.imagemSobre{
    margin-bottom: 12px;
    width: 250px;
    height: 200px;
    border-radius: 8px;
}

/*---------------------------REGRAS---------------------------------*/


#cor{
  background-color: rgba(204, 196, 196, 0.329);
  padding: 5px;
  border-radius: 8px;
}

.imagemRegras{
  margin-bottom: 12px;
  width: 230px;
  height: 200px;
  border-radius: 8px;
}

button.voltarParaMenu2{
  margin-bottom: 15px;
  margin-top: 21px;
  margin-left: 42%;
  width:200px;
  height:50px;
  background: rgba(5, 136, 196, 0.836);
  border: 2px solid rgba(5, 136, 196, 0.836);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  justify-content: center;
  transition: all 0.75s;
  border-radius: 8px;
}

.voltarParaMenu2:hover{
border: 2px solid rgba(255, 0, 0, 0.842);
background-color: rgba(255, 0, 0, 0.842);
color: white;
font-size: 21px;
}

/* @-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
} */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  .fadeIn{
    /* -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out; */
    animation: fadeIn 2s ease-in-out;
  }

.redesSociais{
margin: 30px;
}